<div class="px-6 py-6 lg:px-8 bg-yellow-50 h-screen">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Enter the time period to get reports</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form id="reportForm" action="/reports/getData" method="POST" class="space-y-6">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <div>
            <div class="flex items-center justify-between">
            <label for="start_time" class="text-sm font-medium leading-6 text-gray-900">Start Date</label>
            </div>
            <div class="mt-2">
              <input id="start_time" name="start_time" type="date"  required class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
          <div>
            <div class="flex items-center justify-between">
            <label for="end_time" class="text-sm font-medium leading-6 text-gray-900">End Date</label>
            </div>
            <div class="mt-2">
              <input id="end_time" name="end_time" type="date"  required class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div> 
          <div>
            <div class="flex items-center justify-between">
              <p id="error" class="text-center font-medium leading-6 text-red-500"></p>
            </div>
          </div>
        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get Reports</button>
        </div>
      </form>
      <script>
        window.addEventListener('DOMContentLoaded', function() {
          var startDateInput = document.getElementById('start_time');
          var endDateInput = document.getElementById('end_time');
          startDateInput.addEventListener('change', handleStartDateChange);
          endDateInput.addEventListener('change', handleEndDateChange);
      
          function handleStartDateChange() {
            var selectedStartDate = new Date(startDateInput.value);
            var minEndDate = new Date(selectedStartDate);
            minEndDate.setDate(selectedStartDate.getDate() + 2);
            endDateInput.min = formatDate(minEndDate);
          }
      
          function handleEndDateChange() {
            var selectedEndDate = new Date(endDateInput.value);
            var maxStartDate = new Date(selectedEndDate);
            maxStartDate.setDate(selectedEndDate.getDate() - 2);
            startDateInput.max = formatDate(maxStartDate);
          }
      
          function formatDate(date) {
            var year = date.getFullYear();
            var month = String(date.getMonth() + 1).padStart(2, '0');
            var day = String(date.getDate()).padStart(2, '0');
            return `${year}-${month}-${day}`;
          }
        });
      </script>
    </div>
  </div>